li {
    display: inline-block;
    margin: 0px 0px 0px 50px;
    font-size: 30px;
    
}
header {
    position: absolute;
    top: 50px;
    right:50px;
}
a {
    color: black;
}

section.name {
    height: 200px;
    width: 400px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    font-size: 45px;;
}

section.description {
    margin-top: 24%;
    text-align: center;
    font-size: 20px;
}

body {
    background-image: url("../html_image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

img.contact_image {
width: 750px;
height: 500px;
padding-top: 10%;
float: left;
margin:10px;


}

section.text {
    float:center;
    display: inline-block;
    width: 600px;
    height:30px;
    margin-top: 200px;
    font-size: 20px;
    
}



